/* work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* header  styles */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
}
nav > ul{
    display: flex;
    
}
nav ul li{
    margin-right: 30px;
    
}
.section-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;}

/* banner  styles */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;

}
.banner-container img{
    margin-top: 25px;
    width: 100%;
} 
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313; 
}

.btn-primary{
    border: 20px;
    color:#FFF;
    background: #FF900E;
    font-size: 1.25rem;
    padding: 20px 25px;
    cursor: pointer;
    border:0 ;

}


/* main styles */

main{
    width: 1440jpx;
    margin:70px auto;
}

/* teams styles */
.teams-container{
    display: flex;
    align-items: center;

}
.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;

}
    .teams-content {
        padding-left: 70px;
        padding-right: 70px;
    }
    .teams-title{
        font-size: 2.8rem;
    }
    /* feature section styles */
    .features {
        
        margin-top:130px;
        display: flex;
        gap: 100px;
    }
    .features .section-title{
       
        border-left:5px solid #FF900E;
        padding-left: 20px;
    }
    .feature-content .card {
        padding: 30px;
        margin-bottom: 20px;
        border-radius: 8px;
        background: #f1efef;
        box-shadow: 0px 4px 30px 0px rgba(219, 98, 98, 0.06);
    }

    .feature-img img{
        height: 90%;
        border-radius: 20px;
        margin-left: 90px;
    }
        


 .ten-years-badge{
    border-radius: 20px;
    background: #FF900E;
    color: #FFF;
    width: 340px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;
}

.ten-years-badge h2{
    font-size: 4rem;
    margin: 0;
}

.ten-years-badge p{
    font-size: 1.5rem;
}

